/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* Header */
header {
    background-color: #2c3e50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header .logo img {
    max-width: 100px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

/* Contenedor de la Guía */
.guia-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.guia-container h2 {
    font-size: 2rem;
    color: #34495e;
    text-align: center;
    margin-bottom: 20px;
}

.guia-container p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    text-align: justify;
}

.proceso {
    margin-bottom: 20px;
}

.proceso h3 {
    font-size: 1.5rem;
    color: #2c3e50;
    margin-bottom: 10px;
}

.proceso p {
    font-size: 1rem;
    color: #7f8c8d;
    line-height: 1.8;
    text-align: justify;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}
